@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/__title.css);
@import url(../blocks/header/__subtitle/__subtitle.css);
@import url(../blocks/header/__main-illustration/__main-illustration.css);
@import url(../blocks/header/__link/__link.css);
@import url(../blocks/header/__square-pic/__square-pic.css);

@import url(../blocks/logo/_place_header/_place_header.css);
@import url(../blocks/logo/_place_footer/_place_footer.css);

@import url(../blocks/description/description.css);

@import url(../blocks/two-columns/two-columns.css);
@import url(../blocks/two-columns/__brief/__brief\ .css);
@import url(../blocks/two-columns/__main-text/main-text.css);
@import url(../blocks/two-columns/__paragraph/__paragraph.css);
@import url(../blocks/two-columns/__span-accent/__span-accent.css);

@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-title/_theme_dark/_theme_dark.css);

@import url(../blocks/section-subtitle/section-subtitle.css);
@import url(../blocks/section-subtitle/_theme_dark/_theme_dark.css);

@import url(../blocks/digits/digits.css);

@import url(../blocks/table/table.css);
@import url(../blocks/table/__cell/__cell.css);
@import url(../blocks/table/__cell/_theme_dark/_theme_dark.css);
@import url(../blocks/table/__heading/__heading\ .css);
@import url(../blocks/table/__text/__text.css);
@import url(../blocks/table/_theme_dark/_theme_dark.css);

@import url(../blocks/feynman/feynman.css);
@import url(../blocks/feynman/__title/__title.css);
@import url(../blocks/feynman/__subtitle/__subtitle.css);
@import url(../blocks/feynman/__img/__img.css);
@import url(../blocks/feynman/__link/__link.css);

@import url(../blocks/kaufman/kaufman.css);
@import url(../blocks/kaufman/__triangle/__triangle.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__author/__author.css);
@import url(../blocks/footer/__column-heading/__column-heading.css);
@import url(../blocks/footer/__column-link/__column-link.css);
@import url(../blocks/footer/__column-links/__column-links\ .css);
@import url(../blocks/footer/__column/_content_copyright/_content_copyright.css);
@import url(../blocks/footer/__columns/columns.css);
@import url(../blocks/footer/__social-icon/__social-icon.css);

@import url(../blocks/rotation/rotation.css);

@import url(../blocks/techniques/techniques.css);

@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/cards__description/cards__description.css);
@import url(../blocks/cards/cards__image/cards__image.css);
@import url(../blocks/cards/cards__item/cards__item.css);
@import url(../blocks/cards/cards__title/cards__title.css);

@import url(../blocks/video/video.css);
@import url(../blocks/video/video__iframe/video__iframe.css);
@import url(../blocks/video/video__iframes/video__iframes.css);

@import url(../blocks/oakley/oakley.css);

@import url(../blocks/khan/khan.css);
@import url(../blocks/khan/khan__author/khan__author.css);
@import url(../blocks/khan/khan__block-container/khan__block-container.css);
@import url(../blocks/khan/khan__book-pic/khan__book-pic.css);
@import url(../blocks/khan/khan__container/khan__container.css);
@import url(../blocks/khan/khan__quote-author-subline/khan__quote-author-subline.css);
@import url(../blocks/khan/khan__quote-author/khan__quote-author.css);
@import url(../blocks/khan/khan__quote/khan__quote.css);
@import url(../blocks/khan/khan__title/khan__title.css);
@import url(../blocks/khan/khan__buy-link/khan__buy-link.css);

@import url(../blocks/resources/resources.css);
@import url(../blocks/resources/resources__logo-zone/resources__logo-zone.css);
@import url(../blocks/resources/resources__logo/resources__logo.css);







