.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  position:relative;
  z-index: 1;
}

.header__subtitle {
  width: 388px;
  position:absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  z-index: 1;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  position:absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;

}
.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  background-image: url("../images/logo_place_header.svg");
  position: absolute;
  top: 30px;
  left: 64px;
}

.logo_place_footer {
  background-image: url("../images/logo_place_footer.svg");
  width: 183px;
  height: 35px;
}

.description {
  display: flex;
  justify-content: center;
}
.two-columns {
  display: flex;
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: space-between;
}

.two-columns__brief {
  min-width: 175px;
  line-height: 1.2em;
  font-size: 18px;
  color: #2f80ed;
  font-weight: normal;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.section-title {
  width: 60%;
  text-align: center;
  line-height: 1.15em;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  z-index: 1;
}

.section-title_theme_dark {
  color: white;
  margin-top: 90px;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  margin: 20px 0 0 0;
  line-height: 34px;
  font-size: 24px;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
}

.table {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
}

.table_theme_dark {
  margin-bottom: 80px;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  padding: 0;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading {
  line-height: 1.15em;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}


.table__text {
  line-height: 1.2;
  font-size: 18px;
  margin: 20px 0 0 0;
}


.feynman {
  background-color: #f2f2f2;
  position: relative;
  height: 890px;
}

.feynman__img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.feynman__title {
  width: 648px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
  line-height: 1.15em;
  font-size: 120px;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  text-align: center;
  margin: 70px 0 0 0;
  position: relative;
  z-index: 1;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
}

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: black;
  overflow: hidden;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: 0;
}

.footer {
  background-color: black;
  min-height: 350px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__column {
  display: flex;
  width: 90%;
  color: white;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}


.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
}
